<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DIS App Automation Test Suite">

	<listeners>
		<listener class-name="com.DIS.retryAnalyzer.RetryTransformer" />
	</listeners>

	<test thread-count="5" name="DIS Automation Test Framework">
		<classes>

			<class name="com.DIS.testcases.configTest" />
			<class name="com.DIS.testcases.Test_Page_One" />

		</classes>
	</test>
</suite><!-- Suite -->

